body{
    /* background-color: rgb(215, 235, 253); */
    background-color: #E5E5E5;
    /* background: linear-gradient(90deg, rgba(36,0,27,1) 0%, rgba(121,9,110,1) 33%, rgba(0,247,255,1) 100%); */
    font-family:'Poppins', sans-serif;
}
img{
    width: 100%;
}
a{
    text-decoration: none;
    color: white;
    transition: ease-in 0.1s;
}
ul{
    list-style: none;
}
a:hover{
    color: rgb(179, 42, 42);
}


header .logo{
    width: 30%;
}
header .logo:hover{
    cursor: pointer;
}
header .toolbar{
    font-size: 20px;
}
.toolbar{
    background-color: rgb(0, 0, 0);
    position: relative;
}

.wpp{
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    z-index:100;
}
.wpp .fa-whatsapp{
    margin-top: 14px;
}
.barras{
    display:none;
    position: absolute;
    right: 10%;
    color: white;
    top: 24%;
    font-size: 22px;
    /* width: 100%; */
}
header .toolbar .toggle{
    display: none;
}
.responsivemenu{
    display: none;
    background-color: azure;
    opacity: 0;
    position: fixed;
    top: 3.5%;
}


.carrusel{
    width: 90%;
    max-width: 100%;
    /* background-color: rgb(36, 87, 87); */
    overflow: hidden;
    /* @include neo */
}
.carrusel .grande{
    width: 300%;
    background-color: #25d366;
    transition: all .5s ease-in-out;
    transform:translateX(0%);
}
.carrusel img{
    width: calc(100%/3);
}
.carrusel .puntos{
    width: 100%;
    background: #F0F0F3;
    border-radius: 5px;
    box-shadow: -0.2px -0.5px 1px #ffffff, -5px -1px 16px rgb(104 99 99 / 60%);
    /* box-shadow: -1px -1px 3px #FFFFFF, 1.5px 1.5px 3px rgba(174, 174, 192, 0.4); */
    padding: 1em;
    justify-content: center;
    
}
.carrusel .punto{
    width: 1em;
    height: 1em;
    background: #F0F0F3;
    box-shadow: -1px -1px 3px #ffffff, 4.5px 6.5px 3px rgb(0 0 0 / 40%);
border-radius: 20px;
    margin: 10px;
}
.carrusel .punto.activo{
    background-color:rgb(179, 42, 42) ;
}
